doctype html
html
	head
		meta(charset='utf-8')
		title Open Confessions
		meta(name='description' content='Share confessions anonymously on a public Twitter feed !')
		meta(name='author' content='Pierre Burton')
		meta(name='viewport' content='initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0, width=device-width')
		meta(name='format-detection' content='telephone=no')
		meta(name='theme-color' content='#662D91')
		meta(name='msapplication-navbutton-color' content='#662D91')
		link(rel='icon' type='image/png' href='images/favicon.png')
		meta(name='msapplication-square150x150logo' content='images/tile.png')
		meta(name='msapplication-wide310x150logo' content='images/tile-wide.png')
		// Twitter card
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:site' content='@iConfessional')
		meta(name='twitter:creator' content='@pierreburton91')
		meta(name='twitter:title' content='Open Confessions')
		meta(name='twitter:description' content='Share confessions anonymously')
		meta(name='twitter:image' content='images/tile-wide.png')
		// Open graphs
		meta(property='og:title' content='Open Confessions')
		meta(property='og:type' content='article')
		meta(property='og:url' content='https://twitter.com/iConfessional')
		meta(property='og:image' content='images/tile-wide.png')
		meta(property='og:description' content='Share confessions anonymously on a public Twitter feed !')
		link(rel='stylesheet' href='styles/normalize.css')
		link(rel='stylesheet' href='styles/griddy.css')
		link(rel='stylesheet' href='styles/styles.css')
	body
		header
			div.container
				div.row
					div.col-12
						img.icon(src='images/logo-nobg.svg' alt='logo')
						h1 Open Confessions
						div.f-right
							a(href='https://twitter.com/iConfessional' target='_blank')
								svg.icon.twitter(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 48 48')
									g
										path(d='M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688')
		section
			div.container
				div.row
					div.col-12
						case code
							when '200'
								h1 Sucess!
								p Your confession has been successfully delivered to our Twitter feed.
								p Go #[a.link(href='https://twitter.com/iConfessional/status/'+tweetId+'' target='_blank') check your confession].
							when '304'
							when '187'
								h1 Not Modified
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p This is embarrassing as this service only #[strong creates] new tweets.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '400'
							when '44'
							when '92'
							when '215'
							when '323'
							when '324'
							when '325'
							when '326'
							when '354'
							when '385'
							when '386'
								h1 Bad Request
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p The request was invalid or cannot be otherwise served.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '401'
							when '32'
							when '89'
							when '135'
								h1 Unauthorized
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Missing or incorrect authentication credentials. This may also returned in other undefined circumstances.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '403'
							when '36'
							when '64'
							when '87'
							when '99'
							when '150'
							when '151'
							when '160'
							when '161'
							when '179'
							when '185'
							when '205'
							when '220'
							when '261'
							when '271'
							when '272'
								h1 Forbidden
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p The request is understood, but it has been refused or access is not allowed.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '404'
							when '34'
							when '50'
							when '144'
								h1 Not Found
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p The URI requested is invalid or the resource requested, such as a user, does not exist.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '406'
								h1 Not Acceptable
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p An invalid format has been specified in the request.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '410'
							when '251'
								h1 Gone
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p This resource is gone. Used to indicate that an API endpoint has been turned off.
								p Please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '420'
							when '88'
								h1 Enhance Your Calm
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Looks like the app has a lot of success !
								p Too much Confessions were sent in a short period of time.
								p You should try again in about 20 minutes.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '422'
								h1 Unprocessable
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Looks like your Confession can't be processed by the server or the the request is badly-formed.
								P Please, make sure your Confession is text only.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '429'
								h1 Too Many Requests
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Looks like the app has a lot of success !
								p Too much Confessions were sent in a short period of time.
								p You should try again in about 20 minutes.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '500'
							when '131'
								h1 Internal Server Error
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Something is broken in the Twitter server we're trying to reach.
								p This is usually a temporary error. You should try again later.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '502'
								h1 Bad Gateway
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p Twitter is down, or being upgraded.
								p Please, try again later.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '503'
							when '130'
								h1 Service Unavailable
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p The Twitter server we're trying to reach is too busy at the moment.
								p Please, try again later.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '504'
								h1 Timeout
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p The Twitter server we're trying to reach is experiencing some failure at the moment.
								p Please, try again later.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
							when '63'
							when '68'
							when '93'
							when '226'
							when '231'
								h1 Unknown
									span.response-code &nbsp;-&nbsp;code:&nbsp;#{code}
								p An unknown error has occured.
								p Please, try again later.
								p If the problem persists, please report this issue #[a.link(href='https://github.com/pierreburton91/iConfessional/issues/new' target='_blank') here].
								- break
						br
						br
						a.button(href='/' target='_self') Back to homescreen
		footer
			div.container
				div.row
					div.col-12.col-md-4
						img.icon(src='images/logo-nobg.svg' alt='logo')
						h1 Open Confessions
					div.col-12.col-md-4.md-t-center
						a.icons(href='https://github.com/pierreburton91/iConfessional' target='_blank')
							svg.icon.github(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 32 32')
								g
									path(style=' fill-rule:evenodd;' d='M 16 4 C 9.371094 4 4 9.371094 4 16 C 4 21.300781 7.4375 25.800781 12.207031 27.386719 C 12.808594 27.496094 13.027344 27.128906 13.027344 26.808594 C 13.027344 26.523438 13.015625 25.769531 13.011719 24.769531 C 9.671875 25.492188 8.96875 23.160156 8.96875 23.160156 C 8.421875 21.773438 7.636719 21.402344 7.636719 21.402344 C 6.546875 20.660156 7.71875 20.675781 7.71875 20.675781 C 8.921875 20.761719 9.554688 21.910156 9.554688 21.910156 C 10.625 23.746094 12.363281 23.214844 13.046875 22.910156 C 13.15625 22.132813 13.46875 21.605469 13.808594 21.304688 C 11.144531 21.003906 8.34375 19.972656 8.34375 15.375 C 8.34375 14.0625 8.8125 12.992188 9.578125 12.152344 C 9.457031 11.851563 9.042969 10.628906 9.695313 8.976563 C 9.695313 8.976563 10.703125 8.65625 12.996094 10.207031 C 13.953125 9.941406 14.980469 9.808594 16 9.804688 C 17.019531 9.808594 18.046875 9.941406 19.003906 10.207031 C 21.296875 8.65625 22.300781 8.976563 22.300781 8.976563 C 22.957031 10.628906 22.546875 11.851563 22.421875 12.152344 C 23.191406 12.992188 23.652344 14.0625 23.652344 15.375 C 23.652344 19.984375 20.847656 20.996094 18.175781 21.296875 C 18.605469 21.664063 18.988281 22.398438 18.988281 23.515625 C 18.988281 25.121094 18.976563 26.414063 18.976563 26.808594 C 18.976563 27.128906 19.191406 27.503906 19.800781 27.386719 C 24.566406 25.796875 28 21.300781 28 16 C 28 9.371094 22.628906 4 16 4 Z ')
						a.icons(href='https://twitter.com/iConfessinnal' target='_blank')
								svg.icon.twitter(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 48 48')
									g
										path(d='M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688')
					div.col-12.col-md-4
						a.link.md-f-right(href='http://pierre-burton.be' target='_blank') Pierre Burton
		script(type='text/javascript' src='scripts/scripts.js')
